* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

header {
    max-width: 1200px;
    margin: 0 auto;
}

nav{
    background-color: rgb(51,51,51);
    color: rgb(255,255,255);
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0;
}

nav a {
    color: rgb(255,255,255);
    padding: 1rem;
    display: block;
    text-decoration: none;
    font-weight:500
}

nav a:hover {
    color: rgb(255,0,0);
}

#course-title{
    background-color: rgb(29,77,114);
    display: block;
    padding: 1.5rem;
    color: rgb(255,255,255);
    margin-bottom: 0;
    text-align: center;
    font-weight: 700;
}

h1{
    text-align: center;
    font-weight: 700;
    grid-column: 1 / -1;  
    margin: 0 0 0.5rem 0;
}

main {
  display: grid;
  grid-template-columns: 1fr auto; 
  gap: 1rem;
  max-width: 1200px;   
  align-items: start;
  margin: 0 auto;
  padding: 1rem;
}

.card {
  background: rgb(255,255,255);       
  border: 1px solid rgb(221,221,221);
  border-radius: 6px;
  height: 100%;
}

.card img {
  float: right;
  width: 150px;
  height: auto;
  padding: 0.5rem;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  display: block;
}

.about-me p {
    margin-top: 2rem;
    padding: 1rem;
    line-height: 1.6;
}

h2 {
    margin-bottom: 0.5rem;
    text-align: center;
    font-weight: 600;
    background-color: rgb(29,77,114);
    color: rgb(255,255,255);
    padding: 1rem
}

h3 {
   text-align: center;
    margin-bottom: 0.2rem;
}

hr {
    width: 50%;
    margin: 0 auto 1rem auto;
}

.flag {
  display: block; 
  text-align: center;
  margin: 0.5rem; 
  float: left;      
}

.flag img {
  display: block;        
  margin: 0 auto;
  width: 100px;          
}

.flag figcaption {
  display: block;
  margin-top: 0.4rem;
  font-size: 0.9rem;
  color: rgb(51,51,51);
}

.location p {
    width: 80%;
    line-height: 1.6;
    margin-bottom: 1rem;
}

ul {
    list-style-type: square;
    padding-left: 1.5rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}

ul li {
    font-style: italic;
}

.resources h2 {
    margin-bottom: 80px;
}

footer {
    display: flex;
    justify-content: center;
    background-color: rgb(29,77,114);
    color: rgb(255,255,255);
    text-align: center;
    padding: 1rem;
    margin-bottom: 0;
}
