@media only screen and (min-width: 40em) {

.navigation{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0;
}

.navigation a {
    color: rgb(255,255,255);
    padding: 1rem;
    display: block;
    text-decoration: none;
    font-weight:500;
    text-align: center;
}
.navigation li {
    display: block;
    flex: 1 1 100%;
}

.navigation a:hover {
    color: rgb(255,0,0);
}

 header, main, footer {
    max-width: 1000px;
    margin: 1rem auto;
    padding: 0 1rem;
  }

  .temple-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    justify-items: center;
  }

  .temple-gallery figure {
    width: 100%;
  }

#menu {
		display: none;
	}

}